/*
 * Custom translucent site header
 */

 .site-header {
    background-color:#0B2239;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #fff;
    transition: ease-in-out color .15s;
    text-transform: uppercase;
  }
  .site-header a:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
  }